<%- include('partials/header'); %>
<h1>About</h1>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, aperiam
	obcaecati in distinctio impedit eligendi eum aspernatur alias voluptas
	asperiores dolores fugit praesentium reprehenderit ipsum aliquid quam suscipit
	cumque harum eius, doloremque ducimus voluptates numquam dolore. Blanditiis
	magni delectus provident aut sunt et. Delectus dicta officia suscipit velit
	iure? Vitae, eveniet. Culpa id perspiciatis debitis rem iusto, impedit
	inventore. Ex natus quidem eaque nam sapiente modi perferendis fugit dolorum
	iure architecto voluptas accusantium illum asperiores aliquam cumque, maxime,
	ratione rerum esse, ab nulla molestiae illo quas harum eveniet? Enim
	architecto alias corporis optio error? Incidunt blanditiis deserunt neque
	recusandae placeat?
</p>
<%- include('partials/footer'); %>
