<%- include('partials/header'); %>
<h1>Dashboard</h1>
<h3>Users list :</h3>
<ol>
	<% for(let i = 0; i < users.length; i++){ %>
	<li><%= users[i].name %></li>
	<% } %>
</ol>
<%- include('partials/footer'); %>
